<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %> 
<body>
    <%- include('includes/navbar.ejs') %> 
    <h1 class="page-title">Welcome to my website!</h1>
    <hr />
</body>
</html>