* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: darkgray;
}

.hidden{
    display: none;
}

.fetch-message{
    color: rgb(29, 29, 29);
    font-size: calc(2.2vw + 5px);
    margin-top: 20px;
    margin-left: 20px;
}
.error-message{
    color: rgb(102, 8, 8);
    font-size: calc(2.2vw + 5px);
    margin-top: 20px;
    margin-left: 20px;
}
