.category-card-list{
    display: grid;
    grid-auto-rows: 1fr;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.category-card{
    background-color: var(--theme-color);
    color: #ffffff;
}

.category-card > a{
    height: 150px;
}
.category-card > a > img {
    height: 150px;
    width: calc(50vw - 15px);
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-grow: 1;
}
.text-container > a {
    color: #ffffff;
    text-align: center;
}
.text-container > a > h3 {
    font-size: calc(0.4vw + 16px);
}
