.navbar{
    background-color: #000000;
    font-size: 1.2rem;
}

.navbar > ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0px;
}

.nav-link{
    color: #ffffff;
    margin-left: 40px;
    text-decoration: none;
}
.nav-link:hover{
    color: cyan;
    text-shadow: 0px 0px 6px darkcyan;
}
.nav-link:active{
    color: darkcyan;
}
.active{
    color: darkcyan;
    border-bottom: 2px rgba(30, 200, 220, 0.4) solid;
}
.active:hover{
    color: darkcyan;
    cursor: auto;
    text-shadow: none;
}