<nav class="navbar">
    <ul>
        <li>
            <a 
                href="/" 
                class="nav-link unselectable <%= pageTitle === 'Home' ? 'active' : '' %>"
            > 
                Home
            </a>
        </li>
        <li>
            <a 
                href="/products" 
                class="nav-link unselectable <%= pageTitle === 'Products' ? 'active' : '' %>"
            >
                Products
            </a>
        </li>
    </ul>
</nav>