.new-form{
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.new-form > input{
    padding: 8px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.read-only-input{
    color: #888888;
}

.new-form > label{
    align-self: flex-start;
    padding: 5px 0px;
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
}

.new-form > button{
    background-color: rgb(17, 165, 49);
    padding: 12px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.new-form > button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(17, 165, 49);
    -moz-box-shadow: 0px 0px 10px rgb(17, 165, 49);

}
.new-form > button:active{
    text-shadow: 0px 0px 6px #ffffff;
    -moz-text-shadow: 0px 0px 6px #ffffff;
}
.new-form > button:target{
    outline: none;
}