.product-table-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-control-buttons{
    margin: 40px 0px 20px 0px;
}
.table-control-buttons > button{
    background-color: rgb(17, 165, 49);
    padding: 8px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    border: none;
}
.table-control-buttons > button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(17, 165, 49);
    -moz-box-shadow: 0px 0px 10px rgb(17, 165, 49);

}
.table-control-buttons > button:active{
    text-shadow: 0px 0px 6px #ffffff;
    -moz-text-shadow: 0px 0px 6px #ffffff;
}
.table-control-buttons > button:target{
    outline: none;
}


.product-list{
    border: 4px solid rgb(1, 104, 163);
    border-collapse: collapse;
    font-size: 1.4rem;
}

.product-list-head, .product-list-head > td{
    text-align: center;
    padding: 0.6vw 1.2vw;
    background-color: rgb(1, 104, 163);
    border-right: 2px solid rgb(0, 53, 83);
}

.list-product, .list-product > td{
    text-align: center;
    padding: 0.6vw 1.2vw;
    border-right: 2px solid #444444;
}

.item-button{
    padding: 6px;
    margin:  0px 4px;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    border: none;
}
.item-button:hover{
    cursor: pointer;
}
.item-button:active{
    text-shadow: 0px 0px 6px #ffffff;
    -moz-text-shadow: 0px 0px 6px #ffffff;
}
.item-button:target{
    outline: none;
}