.bg-blue{
    background-color: rgb(48, 29, 100);
}
.bg-green{
    background-color: rgb(17, 90, 53);
}
.bg-red{
    background-color: rgb(122, 28, 40);
}
.bg-black{
    background-color: rgb(14, 11, 12);
}