#navbar{
    background-color: rgb(0, 161, 100);
}
.nav-list{
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin-left: -30px;
}
.nav-link{
    background-color: rgb(0, 161, 100);
    color: black;
    border: 0px;
    outline: 0px;
    padding: 10px 20px;
    font-size: 1.3rem;
}
.nav-link:hover{
    cursor: pointer;
    background-color: rgb(0, 146, 90);
}