#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--primary-dark);
}
#header > h1 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}
