* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

:root {
    --primary-color: #41ce65;
    --primary-dark: #1b7a33;
    --secondary-color: #3179bd;
    --secondary-dark: #1a4770;
}

.h-flex{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

button{
    border: none;
}
button:hover{
    cursor: pointer;
}
li{
    list-style: none;
}
