body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div{
    font-size: 32px;
    padding: 8px;
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: #aa0000;
    border: solid black 4px;
}